@for $i from 1 through 30 {
  .m-#{$i} {
    margin: $i + px;
  }
  .ml-#{$i} {
    margin-left: $i + px;
  }
  .mr-#{$i} {
    margin-right: $i + px;
  }
  .mlr-#{$i} {
    margin-left: $i + px;
    margin-right: $i + px;
  }
  .mt-#{$i} {
    margin-top: $i + px;
  }
  .mb-#{$i} {
    margin-bottom: $i + px;
  }
  .mtb-#{$i} {
    margin-top: $i + px;
    margin-bottom: $i + px;
  }
  .p-#{$i} {
    padding: $i + px;
  }
  .pl-#{$i} {
    padding-left: $i + px;
  }
  .pr-#{$i} {
    padding-right: $i + px;
  }

  .plr-#{$i} {
    padding-left: $i + px;
    padding-right: $i + px;
  }
  .pt-#{$i} {
    padding-top: $i + px;
  }
  .pb-#{$i} {
    padding-bottom: $i + px;
  }
  .ptb-#{$i} {
    padding-top: $i + px;
    padding-bottom: $i + px;
  }
  .text-#{$i} {
    font-size: $i + px;
  }
}

.form-item-tips {
  margin-left: 15px;
  font-size: 12px;
  color: #999;
  line-height: 32px;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.form-image {
  min-width: 100px;
  width: 100px;
  // background: #ddd;
}
